# Firebase Config
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDmZom41rfedlMA9Hmg3NZ5x3fbn8w4tXU
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=requisitions-app-4deb9.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=requisitions-app-4deb9
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=requisitions-app-4deb9.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=671894320580
NEXT_PUBLIC_FIREBASE_APP_ID=1:671894320580:web:d425708db83a0e8d406091
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-CMVKWJKL0N